<% if logged_in? %>

<%= form_with(model: @task, local:true ) do |f| %>

<%= f.text_area :content%>

<%= f.submit 'Post' %>

<% end %>

<%= render 'tasks/tasks',tasks: @tasks %>

<% else %>

<h1>Tasklists</h1>

<%= link_to 'Sign up now!!',signup_path %>

<% end %> 